# Code Practice 1
Anvitha Jagannathan

Question 1

In [1]:
2+5

7

Produces the sum of 2 and 5 as an integer

In [2]:
2 + 5

7

Produces the sum of 2 and 5 as an integer

In [3]:
2*5

10

Produces the product of 2 and 5 as an integer

In [4]:
2/5

0.4

Produces the quotient of 2 dvided by 5 as an integer

In [5]:
2**5

32

Produces the integer equal to 2 to the power 5 aka 2^5

Question 2

In [6]:
x=7

In [7]:
x=x+3

In [8]:
x

10

x=10 because the original value of x (7) was overwritten by the formula x=x+3. So, x changed from 7 to 7+3=10.

Question 3

In [9]:
x=3
y=x
x=10

In [12]:
print(x,y)

10 3

y is equal to the original value of x because of the order in which the statements were run. Since y=x takes the last value of x before that statement, y=3. However, the x value gets overwritten by the statment x=10, so the value of x alone changes to 10.

Question 4

In [13]:
x=3
x=x/2
y='abc'
z=y+y
print(x,z)

1.5 abcabc

Yes, the code runs without error. It produces the most recent values of x and z, which are 3/2 (or 1.5) and 'abcabc' (which is y+y) respectively.

Question 5

In [14]:
x=3
x=3/2
y='abc'
z=x+y
print(x,z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

This code has an error because the addition of a floating point number (x=3/2) and a string (y='abc') is not possible. So, z does not have any value and is not a valid output.

Question 6

In [15]:
x=3
y=24
z=y/x
print(x,y,z,sep='|')

3|24|8.0

Yes, this code runs without error. It produces the values of x,y and z given the input. These values are separated by '|'s due to the line "sep='|'".

Question 7

In [17]:
x=3
y='24'
z=y/x
print(x,z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

This code produces an error because y is a string and x is a floating point number. It is not possible to divide a string by a float. So, z is not a valid output.

Question 8

In [18]:
x="I am a #string"
#Whoa, a string!
x

'I am a #string'

This code runs without error. The '#' in the input value of x is within quotes and thus, does not turn the input into a comment. However, the # in the next line does turn the line into a comment and thus, that line is not printed or regarded as an input.

Question 9

In [19]:
x=[1,2,3]
y=[42,43]
z=x+y
print(z)

[1, 2, 3, 42, 43]

Yes, this code runs without error. x and y are two lists here. Lists can be added by putting all the values in a single new list. This code produces the new list z containing all the values in lists x and in list y together.

Question 10

In [20]:
x=[1,2,3]
y=42
x+y

TypeError: can only concatenate list (not "int") to list

This code produces an error message because x is a list and y is an integer. A list and integer cannot be added. So, x+y is not a valid output.

Question 11

In [21]:
x1=12
x2=12.0
x3='12.0'
x4=[12]
x5=[12,12.0,'12.0']
print(type(x1)) #Integer
print(type(x2)) #Floating point number
print(type(x3)) #String
print(type(x4)) #List
print(type(x5)) #List

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'list'>

Question 12

In [22]:
type(42)

int

42 is an integer because it is just the number.

In [23]:
type(42.0)

float

42.0 is a floating point number, meaning it is a number with a decimal point in it.

In [24]:
type('42.0')

str

'42.0' is a string because it is enclosed by single quotation marks, which turns the input value within into a string.

In [25]:
type("42.0")

str

"42.0" is a string because it is enclosed by double quotation marks, which turns the input value within into a string.

In [26]:
type("""42.0""")

str

"""42.0""" is a string because it is enclosed by triple quotation marks, which turns the input value within into a string.

In [27]:
type([1,2])

list

[1,2] is a list due to the square brackets '[]' around it and the comma ',' separating the two values.

In [29]:
type([1]+[2])

list

Although '[1]' and '[2]' are not lists in and of themselves since they only have one value each, when added together, they form the list [1,2].

In [30]:
type(1+2)

int

1 and 2 by themselves are integers. When two integers are added, the sum is also an integer.

In [31]:
type(print)

builtin_function_or_method

'print' is a basic function built into the Python coding language. So, its type is a built-in function.

Question 13

In [32]:
type(float(str(int('1234'))))

float

'1234' is a string. The function int('1234') converts it into an integer. The str function converts the integer back into a string. The float function converts the string into a floating point number. So, 1234 is most recently a floating point number and that is the output.

Question 14

In [33]:
type(int(float('12.34')))

int

'12.34' is a string. The function float('12.34') converts it into a floating point number. The int function converts it into an integer. So, 12.34 is most recently an integer and that is the output.

Question 15

In [34]:
len([1234])

1

[1234] is a list due to the [] brackets. This is a ist with only one value, so the length of the list is 1.

In [35]:
len("1234")

4

"1234" is a string (due to the "" symbol) with four characters. So, the length of the string is 4.

In [36]:
len(1234)

TypeError: object of type 'int' has no len()

1234 is an integer. The length of an integer cannot be computed, because it is a number. So, this shows an error message.

Question 16

In [41]:
x=[]
print(type(x))
print(len(x))

<class 'list'>
0

x is a list because of the [] brackets around it. Since the list has no values in it, the length of the list is 0.

Question 17

In [42]:
x='abcde'
list(x)

['a', 'b', 'c', 'd', 'e']

A string can be converted into a list using the list function, which takes each character of the string as a value in the list.

Question 18

In [43]:
x=1234
print(float(x))
print(str(x))
print(list(x))

1234.0
1234

TypeError: 'int' object is not iterable

Although an integer can be converted into a floating point number and a string, it cannot be converted into a list because the digits are not counted as separate characters.

Question 19

In [45]:
x="luke, i am your father"
x.title()

'Luke, I Am Your Father'

Question 20

In [46]:
x="How many characters and words are in this string?"
print(len(x))

49

In [47]:
print(list(x))

['H', 'o', 'w', ' ', 'm', 'a', 'n', 'y', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', ' ', 'a', 'n', 'd', ' ', 'w', 'o', 'r', 'd', 's', ' ', 'a', 'r', 'e', ' ', 'i', 'n', ' ', 't', 'h', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', '?']

In [48]:
print(x.split())

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

In [49]:
print(len(x.split()))

9