# Coding Practice 2

Anvitha Jagannathan

Question 1

In [2]:
x=[1,2,3]
y='bootcamp'
z=x+y

TypeError: can only concatenate list (not "str") to list

This code shows an error because x is a list and y is a string. A list and string cannot be added to each other. So, the value z is not a valid output.

Question 2

In [3]:
print(type(x))
print(type(y))

<class 'list'>
<class 'str'>

The function 'type' tells us what type x and y are. x is a list and y is a string.

In [4]:
print(len(x))
print(len(y))

3
8

The function 'len' shows us how many elements x and y contain. x has 3 elements and y has 8.

Question 3

In [5]:
type(2)

int

2 is an integer, as shown from the output of the type function.

In [6]:
type('2')

str

'2' is a string, as shown from the output of the type function.

In [7]:
type(2.0)

float

2.0 is a floating point number as it has a decimal point. This is shown in the output of the type function.

In [8]:
type("2.0")

str

"2.0" is a string owing to the "" around it, as shown in the output of the type function.

In [9]:
type(2>1)

bool

2>1 is a boolean operation because it has an output of either true or false. In this case, the output when this code is run would be true, since 2 is greater than 1. Boolean operations are represented as 'bool' in the output of the type function.

In [10]:
type('Itamar'>'Chase')

bool

This is a boolean operation because it has an output of either true or false. In this case, the output when this code is run would be true, since 'i' comes after 'c' in the alphabet, so it is greater than 'c'. This is shown in the output of the type function.

In [11]:
type([1,2])

list

[1,2] is a list as shown in the output of the type function.

In [12]:
type((1,2))

tuple

(1,2) is a tuple, as shown in the output of the type function.

In [13]:
type({1:'one',2:'two'})

dict

This is a dictionary where 1 and 2 are the keys and 'one' and 'two' are the values. This is represented as 'dict' in the output of the type function.

Question 4

In [14]:
1>=0
#True

True

In [15]:
1>=1
#True

True

In [16]:
1>1
#False

False

In [17]:
1==1
#True

True

In [18]:
1==1.0
#True

True

In [19]:
'Spencer'=="Spencer"
#True

True

In [20]:
2**3>3**2
#False

False

In [21]:
1>=0 or 1<=2
#True

True

In [22]:
1>=0 and 1<=2
#True

True

Question 5

In [23]:
if 2>1:
    print('Yes, 2 is still greater than 1')

Yes, 2 is still greater than 1

Yes, this code runs without error and prints the required message since the condition of 2>1 is satisfied.

Question 6

In [24]:
if True:
    print('on the one hand')
else:
    print('but on the other hand')

on the one hand

The output is 'on the one hand' because the condition True is satisfied. Without an explicit condition being stated, the default answer is true. So, the code prints the output for True being satisfied.

In [26]:
if False:
    print('on the one hand')
else:
    print('but on the other hand')

but on the other hand

The output is 'but on the other hand' because the condition False is not satisfied. Without an explicit condition being stated, the default answer is true. So, the code prints the output when the answer is true.

In [27]:
if not True:
    print('on the one hand')
else:
    print('but on the other hand')

but on the other hand

The output is 'but on the other hand' because the condition not True is satisfied. Without an explicit condition being stated, the default answer is true. So, the code prints the output when the answer is true.

Question 7

In [28]:
cond=True
if cond:
    x="Chase"
else:
    x="Dave"
print(x)

Chase

The output is 'Chase' because the condition True is satisfied. Without an explicit condition being stated, the default answer is true. So, the code prints the output for cond=True being satisfied.

Question 8

In [29]:
x=[1,2,3,4]
y=['x','y','z']

In [30]:
if len(x)>len(y):
    print("x has more")
else:
    print("y has atleast as many")

x has more

x has 4 elements, whereas y has 3. So, the code prints 'x has more' because the condition len(x)>len(y) is satisfied.

Question 9

Slicing is a feature in Python that allows the coder to get specific sets of sub-elements from a list, array or tuple. The coder can input the index numbers of the elements they want as the output, ad choose a slicing increment if they choose to do so. For example, in the list a=[1,2,3,4,5,6], if the coder wanted to show just 2, 4 and 6, they would input a[1:6:2] and they would get the output [2,4,6].

Question 10

In [31]:
x=[1,2,3,4,5]
x[0]

1

In [32]:
x[4]

5

In [33]:
x[:4]

[1, 2, 3, 4]

Question 11

In [34]:
sentence='This is a sentence; please slice it.'

In [49]:
print(sentence[0:5])
print(sentence[5:7])
print(sentence[8:9])
print(sentence[10:18])
print(sentence[20:27])
print(sentence[27:33])
print(sentence[33:35])

This
is
a
sentence
please
slice
it

Question 12

In [50]:
x=[1,2,"a",'b',"fast",'slow',3,"Raghu",'Liuren',10]

In [51]:
x[0]

1

In [52]:
x[9]

10

In [53]:
x[3:7]

['b', 'fast', 'slow', 3]

Question 13

In [56]:
for i in x:
    print(i)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

Question 14

In [57]:
for i in x:
    if type(i)==str:
        print(i)

a
b
fast
slow
Raghu
Liuren

Question 15

In [58]:
range?

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).

In [60]:
range(3,12,2)

range(3, 12, 2)

This is the range of numbers from 3 to 11 in steps of 2.

In [61]:
list(range(3,12,2))

[3, 5, 7, 9, 11]

Question 16

In [62]:
for i in range(0,31):
    if i%3==0:
        print(i)

0
3
6
9
12
15
18
21
24
27
30

Question 17

In [64]:
def pocket_change(p,n,d,q):
    value='$'+str(round(float((p*0.01)+(n*0.05)+(d*0.10)+(q*0.25)),2))
    return value

In [65]:
pocket_change(1,2,3,4)

'$1.41'

Question 18

In [66]:
def notsix(numlist):
    newlist = []
    for num in numlist:
        numstr = str(num)
        if numstr[0] != '6':
            newlist.append(num)
    return newlist

In [67]:
notsix([1234,6783,6,4321,9876])

[1234, 4321, 9876]

Question 19

In [68]:
old_list=[1234,6783,6,4321,9876]
new_list=[x for x in old_list if str(x)[0]!="6"]

This code does exactly what the code in the previous question does. Instead of defining a function, we can write a single line of code to give the same output. This is easier if the code is needed only for one or a few lines, whereas creating a function would be better in cases where the function would be needed for the entire length of the code.

Question 20

In [69]:
z={1:'one',2:'two',3:'three'}

In [71]:
type(z)

dict

In [72]:
len(z)

3

z is a dictionary with a length of 3 elements.

In [73]:
z.keys()

dict_keys([1, 2, 3])

In [74]:
z.values()

dict_values(['one', 'two', 'three'])

The keys of z are 1,2 and 3 and the values are one, two and three.

In [75]:
z.get(2)

'two'

You would get the value associated with the key 2 by using the 'get' function.

In [79]:
z.keys?

a set-like object providing a view on z's keys

In [80]:
z.values?

an object providing a view on z's values

In [81]:
list(z.keys())

[1, 2, 3]

This converts the keys of z into a list.

In [82]:
list(z.values())

['one', 'two', 'three']

This converts the values of z into a list.

In [83]:
list(z)

[1, 2, 3]

This converts the keys of z into a list.

Question 21

This assignment took me approximately 120 minutes.